@-webkit-keyframes glitch {
  33% {
    text-shadow: -0.02em -0.03em rgba(255, 0, 0, 0.75), 0.03em 0.01em rgba(0, 255, 0, 0.75), -0.03em 0.03em rgba(0, 0, 255, 0.75);
  }
  66% {
    text-shadow: -0.03em 0.03em rgba(255, 0, 0, 0.75), -0.02em -0.03em rgba(0, 255, 0, 0.75), 0.03em 0.01em rgba(0, 0, 255, 0.75);
  }
  to {
    text-shadow: 0.03em 0.01em rgba(255, 0, 0, 0.75), -0.03em 0.03em rgba(0, 255, 0, 0.75), -0.02em -0.03em rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitch {
  33% {
    text-shadow: -0.02em -0.03em rgba(255, 0, 0, 0.75), 0.03em 0.01em rgba(0, 255, 0, 0.75), -0.03em 0.03em rgba(0, 0, 255, 0.75);
  }
  66% {
    text-shadow: -0.03em 0.03em rgba(255, 0, 0, 0.75), -0.02em -0.03em rgba(0, 255, 0, 0.75), 0.03em 0.01em rgba(0, 0, 255, 0.75);
  }
  to {
    text-shadow: 0.03em 0.01em rgba(255, 0, 0, 0.75), -0.03em 0.03em rgba(0, 255, 0, 0.75), -0.02em -0.03em rgba(0, 0, 255, 0.75);
  }
}

@-webkit-keyframes glitch-shift-first {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
            clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
    -webkit-transform: translate(-0.1em, -0.1em);
            transform: translate(-0.1em, -0.1em);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 25%);
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0 25%);
    -webkit-transform: translate(0.1em, 0.1em);
            transform: translate(0.1em, 0.1em);
  }
}

@keyframes glitch-shift-first {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
            clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
    -webkit-transform: translate(-0.1em, -0.1em);
            transform: translate(-0.1em, -0.1em);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 25%);
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0 25%);
    -webkit-transform: translate(0.1em, 0.1em);
            transform: translate(0.1em, 0.1em);
  }
}

@-webkit-keyframes glitch-shift-second {
  from {
    -webkit-clip-path: polygon(0 80%, 100% 35%, 100% 100%, 0 100%);
            clip-path: polygon(0 80%, 100% 35%, 100% 100%, 0 100%);
    -webkit-transform: translate(0.1em, 0.1em);
            transform: translate(0.1em, 0.1em);
  }
  to {
    -webkit-clip-path: polygon(0 35%, 100% 80%, 100% 100%, 0 100%);
            clip-path: polygon(0 35%, 100% 80%, 100% 100%, 0 100%);
    -webkit-transform: translate(-0.1em, -0.1em);
            transform: translate(-0.1em, -0.1em);
  }
}

@keyframes glitch-shift-second {
  from {
    -webkit-clip-path: polygon(0 80%, 100% 35%, 100% 100%, 0 100%);
            clip-path: polygon(0 80%, 100% 35%, 100% 100%, 0 100%);
    -webkit-transform: translate(0.1em, 0.1em);
            transform: translate(0.1em, 0.1em);
  }
  to {
    -webkit-clip-path: polygon(0 35%, 100% 80%, 100% 100%, 0 100%);
            clip-path: polygon(0 35%, 100% 80%, 100% 100%, 0 100%);
    -webkit-transform: translate(-0.1em, -0.1em);
            transform: translate(-0.1em, -0.1em);
  }
}

@-webkit-keyframes bounce {
  33% {
    -webkit-transform: translateY(-3px) scaleX(0.96);
            transform: translateY(-3px) scaleX(0.96);
    drop-shadow: 0 10px 3px rgba(0, 0, 0, 0.5);
  }
  66% {
    -webkit-transform: translateY(3px) scaleX(1.04) scaleY(0.96);
            transform: translateY(3px) scaleX(1.04) scaleY(0.96);
    drop-shadow: -10px 3px rgba(0, 0, 0, 0.5);
  }
}

@keyframes bounce {
  33% {
    -webkit-transform: translateY(-3px) scaleX(0.96);
            transform: translateY(-3px) scaleX(0.96);
    drop-shadow: 0 10px 3px rgba(0, 0, 0, 0.5);
  }
  66% {
    -webkit-transform: translateY(3px) scaleX(1.04) scaleY(0.96);
            transform: translateY(3px) scaleX(1.04) scaleY(0.96);
    drop-shadow: -10px 3px rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
