@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
$font-family: "Titillium Web", sans-serif;
$font-color-glitch-link: #fc842b;
$font-color-glitch-link-hover: rgba(252, 132, 43, 0);
$font-size-linkbar: 1.5rem;
$font-size-linkbar-hover: 1.6rem;
