@keyframes glitch {
	33% {
		text-shadow: -0.02em -0.03em rgba(255, 0, 0, 0.75), 0.03em 0.01em rgba(0, 255, 0, 0.75),
			-0.03em 0.03em rgba(0, 0, 255, 0.75);
	}
	66% {
		text-shadow: -0.03em 0.03em rgba(255, 0, 0, 0.75), -0.02em -0.03em rgba(0, 255, 0, 0.75),
			0.03em 0.01em rgba(0, 0, 255, 0.75);
	}
	to {
		text-shadow: 0.03em 0.01em rgba(255, 0, 0, 0.75), -0.03em 0.03em rgba(0, 255, 0, 0.75),
			-0.02em -0.03em rgba(0, 0, 255, 0.75);
	}
}

@keyframes glitch-shift-first {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
		transform: translate(-0.1em, -0.1em);
	}
	to {
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0 25%);
		transform: translate(0.1em, 0.1em);
	}
}

@keyframes glitch-shift-second {
	from {
		clip-path: polygon(0 80%, 100% 35%, 100% 100%, 0 100%);
		transform: translate(0.1em, 0.1em);
	}
	to {
		clip-path: polygon(0 35%, 100% 80%, 100% 100%, 0 100%);
		transform: translate(-0.1em, -0.1em);
	}
}

@keyframes bounce {
	$bounce-height: 3px;
	$StrengthX: 0.04;
	$StrengthY: 0.04;
	$shadowStrength: 10px;
	$shadowBlur: 3px;
	33% {
		transform: translateY(-#{$bounce-height}) scaleX(#{1-$StrengthX});
		drop-shadow: 0 $shadowStrength $shadowBlur rgba(0, 0, 0, 0.5);
	}
	66% {
		transform: translateY(#{$bounce-height}) scaleX(#{1 + $StrengthX}) scaleY(#{1 - $StrengthY});
		drop-shadow: 0 -$shadowStrength $shadowBlur rgba(0, 0, 0, 0.5);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.1);
	}
}

@mixin unsplash-background {
	background-color: #0c233f;
	background-image: url("https://source.unsplash.com/featured/?code");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: multiply;
}

@mixin indent($multiplier) {
	margin-left: #{$multiplier * 15}px;
}
